.stay b{
    font-weight: 900;
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-size: 19px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: auto;
}
.images img{
    padding: 10px;
    width: 100%;
    max-width: 330px;
}

@media (max-width: 768px) {
    .images img{
        width: 250px;
    }
}
@media (max-width: 550px) {
    .images img{
        width: 100%;
    }
}

